@model WebApp.ViewModels.DietaryRestrictionCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DietaryRestriction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DietaryRestriction.FoodItemId" class="control-label"></label>
                <select asp-for="DietaryRestriction.FoodItemId" class="form-control" asp-items="Model.FoodItemSelectList"></select>
                <span asp-validation-for="DietaryRestriction.FoodItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DietaryRestriction.DietId" class="control-label"></label>
                <select asp-for="DietaryRestriction.DietId" class="form-control" asp-items="Model.DietSelectList"></select>
                <span asp-validation-for="DietaryRestriction.DietId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DietaryRestriction.Comment" class="control-label"></label>
                <input asp-for="DietaryRestriction.Comment" class="form-control" />
                <span asp-validation-for="DietaryRestriction.Comment" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DietaryRestriction.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
