@model WebApp.ViewModels.ConsumedFoodItemCreateEditViewModel
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ConsumedFoodItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ConsumedFoodItem.AppUserId" class="control-label"></label>
                <select asp-for="ConsumedFoodItem.AppUserId" class ="form-control" asp-items="ViewBag.AppUserId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="ConsumedFoodItem.FoodItemId" class="control-label"></label>
                <select asp-for="ConsumedFoodItem.FoodItemId" class ="form-control" asp-items="Model.FoodItemSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConsumedFoodItem.Date" class="control-label"></label>
                <input asp-for="ConsumedFoodItem.Date" class="form-control" />
                <span asp-validation-for="ConsumedFoodItem.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumedFoodItem.Quantity" class="control-label"></label>
                <input asp-for="ConsumedFoodItem.Quantity" class="form-control" />
                <span asp-validation-for="ConsumedFoodItem.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
